In [64]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
train_data = pd.read_csv('kc_house_train_data.csv')
test_data = pd.read_csv('kc_house_test_data.csv')

In [4]:
train_data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Add 4 new variables in both your train_data and test_data.
##### ‘bedrooms_squared’ = ‘bedrooms’*‘bedrooms’
##### ‘bed_bath_rooms’ = ‘bedrooms’*‘bathrooms’
##### ‘log_sqft_living’ = log(‘sqft_living’)
##### ‘lat_plus_long’ = ‘lat’ + ‘long’

In [20]:
train_data['bedrooms_squared'] = train_data['bedrooms'] ** 2
train_data['bed_bath_rooms'] = np.multiply(train_data['bedrooms'], train_data['bathrooms'])
train_data['log_sqft_living'] = np.log(train_data['sqft_living'])
train_data['lat_plus_long'] = train_data['lat'] + train_data['long']

test_data['bedrooms_squared'] = test_data['bedrooms'] ** 2
test_data['bed_bath_rooms'] = np.multiply(test_data['bedrooms'], test_data['bathrooms'])
test_data['log_sqft_living'] = np.log(test_data['sqft_living'])
test_data['lat_plus_long'] = test_data['lat'] + test_data['long']

#### What are the mean (arithmetic average) values of your 4 new variables on TEST data? (round to 2 digits)

In [26]:
print(np.mean(test_data['bedrooms_squared']), np.mean(test_data['bed_bath_rooms']), 
      np.mean(test_data['log_sqft_living']), np.mean(test_data['lat_plus_long']))

12.4466777015843 7.5039016315913925 7.550274679645921 -74.65333355403185

In [ ]:
"""
Use graphlab.linear_regression.create (or any other regression library/function) to estimate the regression 
coefficients/weights for predicting ‘price’ for the following three models:(In all 3 models include 
an intercept -- most software does this by default).
Model 1: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’, and ‘long’
Model 2: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, and ‘bed_bath_rooms’
Model 3: ‘sqft_living’, ‘bedrooms’, ‘bathrooms’, ‘lat’,‘long’, ‘bed_bath_rooms’, 
         ‘bedrooms_squared’, ‘log_sqft_living’, and ‘lat_plus_long’
"""

In [86]:
# Create linear regression object
# http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression.get_params
model_1 = LinearRegression()
model_2 = LinearRegression()
model_3 = LinearRegression()

In [36]:
# Train the model using the training sets
model_1.fit(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']], train_data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [37]:
# Train the model using the training sets
model_2.fit(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms']], 
            train_data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [38]:
# Train the model using the training sets
model_3.fit(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared',
                       'log_sqft_living', 'lat_plus_long']], train_data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [57]:
print(model_1.coef_)
print(model_1.intercept_)

[ 3.12258646e+02 -5.95865332e+04  1.57067421e+04  6.58619264e+05
 -3.09374351e+05]
-69075726.79256982

In [58]:
print(model_2.coef_)
print(model_2.intercept_)

[ 3.06610053e+02 -1.13446368e+05 -7.14613083e+04  6.54844630e+05
 -2.94298969e+05  2.55796520e+04]
-66867968.87107887

In [59]:
print(model_3.coef_)
print(model_3.intercept_)

[ 5.29422820e+02  3.45142296e+04  6.70607813e+04  5.34085611e+05
 -4.06750711e+05 -8.57050439e+03 -6.78858667e+03 -5.61831484e+05
  1.27334900e+05]
-62036084.98609824

#### Now using your three estimated models compute the RSS (Residual Sum of Squares) on the Training data.

# RSS

In [73]:
# model_1
print('RSS of model_1:')
print(np.sum((model_1.predict(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]) - 
              train_data['price']) ** 2))

RSS of model_1:
967879963049546.1

In [74]:
model_1_MSE = mean_squared_error(train_data['price'], 
                                 model_1.predict(train_data[['sqft_living', 'bedrooms', 'bathrooms', 'lat', 'long']]))
model_1_MSE * len(train_data)

967879963049546.1

In [75]:
# model_2
print('RSS of model_2: ')
model_2_MSE = mean_squared_error(train_data['price'], 
                                 model_2.predict(train_data[['sqft_living', 'bedrooms', 'bathrooms', 
                                                             'lat', 'long', 'bed_bath_rooms']]))
model_2_MSE * len(train_data)

RSS of model_2:

958419635074068.6

In [77]:
# model_3
print('RSS of model_3: ')
model_3_MSE = mean_squared_error(train_data['price'], 
                                 model_3.predict(train_data[['sqft_living', 'bedrooms', 'bathrooms', 
                                                             'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared',
                                                             'log_sqft_living', 'lat_plus_long']]))
model_3_MSE * len(train_data)

RSS of model_3:

903436455050478.1

#### Now using your three estimated models compute the RSS on the Testing data

In [85]:
print('SSR of model_3 on test data: ')
mean_squared_error(test_data['price'], 
                   model_3.predict(test_data[['sqft_living', 'bedrooms', 'bathrooms', 
                                              'lat', 'long', 'bed_bath_rooms', 'bedrooms_squared',
                                              'log_sqft_living', 'lat_plus_long']])) * len(test_data)

SSR of model_3 on test data:

259236319207179.3

In [82]:
print('SSR of model_2 on test data: ')
len(test_data) * mean_squared_error(test_data['price'], 
                                    model_2.predict(test_data[['sqft_living', 'bedrooms', 'bathrooms', 
                                                                                  'lat', 'long', 'bed_bath_rooms']]))

SSR of model_2 on test data:

223377462976466.75

In [84]:
print('SSR of model_1 on test data: ')
len(test_data) * mean_squared_error(test_data['price'], model_1.predict(test_data[['sqft_living', 'bedrooms',
                                                                    'bathrooms', 'lat', 'long']]))

SSR of model_1 on test data:

225500469795490.38